development:
  # The app_name is used as the backup filename prefix
  app_name: replace_me
  # You must create the s3_bucket specified below via an external tool like S3 Browser, etc
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--

staging:
  app_name: replace_me
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--

production:
  app_name: replace_me
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--